@import "tailwindcss";

:root {
  --color-primary: white;
  --color-secondary: black;
  --color-Gold: #d0c39d;
  --color-main-red: #e11d48;
  --color-main-green: #22c55d;
}

.dark {
  --color-primary: black;
  --color-secondary: white;
  --color-Gold: #d0c39d;
  --color-main-red: #e11d48;
  --color-main-green: #22c55d;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-Gold: #d0c39d;
  --color-main-red: var(--color-main-red);
  --color-main-green: var(--color-main-green);
}
